@import "bootstrap";

$navbar-height: 7.5%;

.navbar {
	height: $navbar-height;
}

.navbar-brand {
	height: $navbar-height;
}

body {
	padding-top: 3.75%;
	padding-bottom: 3.75%;
	background-color: #f8f8f8;
}

.main-pic {
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}

.container, html, body {
	height: 100%;
}
