<div class="pic"></div>
<div class="row height-75"></div>
<div class="row height-17">
	<form role="form-inline">
		<div class="form-group">
			<div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-8"><input type="text" class="form-control" placeholder="Enter RSVP Code"></div>
			<div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
		</div>
	</form>
</div>
